<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ladli Foundation USA</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="icon" href="assets/img/ladli.png">
    </head>
    <body id="stop-scrolling">
        <!-- <div class="preloader"></div>
        <header>
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Ladli Foundation USA</a>
                  </div>
               -->
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Home</a></li>
                      <li><div class="dropdown">
                        <button class="dropbtn">About</button>
                        <div class="dropdown-content">
                          <a href="#">About Us</a>
                          <a href="#">Mission</a>
                          <a href="#">Founder</a>
                          <a href="#">Ladli Foundation India</a>
                          <a href="#">National Advisory Board</a>
                          <a href="#">Management Team</a>
                          <a href="#">District Units</a>
                          <a href="#">Major Achievements</a>
                          <a href="#">Our Partners</a>
                        </div>
                      </div></li>
                      <li><div class="dropdown">
                        <button class="dropbtn">Projects</button>
                        <div class="dropdown-content">
                          <a href="#">Saheli</a>
                          <a href="#">Josh</a>
                          <a href="#">Shagun</a>
                          <a href="#">Kanya Pujan</a>
                          <a href="#">Sashakt Divyang</a>
                          <a href="#">Run for Ladli</a>
                          <a href="#">COVID-19 Raahat Sewa</a>
                          <a href="#">Swabhimaan</a>
                        </div>
                      </div></li>
                      <li><a href="#">Activities</a></li>
                      <li><a href="#">Podcasts</a></li>
                      <li><a href="#">Blogs</a></li>
                      <li><a href="#">Get Involved</a></li>
                    </ul>
                  </div>/.navbar-collapse 
                </div> /.container-fluid 
              </nav> -->

              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="banner" style="background-image: url(assets/img/download.jpg);"></div>
                    <div class="carousel-caption">
                      <h2>“The best way to find yourself is to lose yourself in the service of others.” — Mahatma Gandhi</h2>
                      <p><a href="#">VOLTOUR</a></p>
                    </div>
                  </div>

                  <div class="item">
                    <div class="banner" style="background-image: url(assets/img/web_bolivia_day4_260.jpg);"></div>
                    <div class="carousel-caption">
                        <h2>“The unselfish effort to bring cheer to others will be the beginning of a happier life for ourselves.” — Helen Keller</h2>
                        <p><a href="#">VOLTOUR</a></p>
                    </div>
                  </div>

                  <div class="item">
                    <div class="banner" style="background-image: url(assets/img/hands.jpg);"></div>
                    <div class="carousel-caption">
                        <h2>“He who serves the most, reaps the most.”
                            – Jim Rohn</h2>
                            <p><a href="#">VOLTOUR</a></p>
                    </div>
                  </div>

                  <div class="item">
                    <div class="banner" style="background-image: url(assets/img/travelling_759-1.jpg);"></div>
                    <div class="carousel-caption">
                        <h2>“Volunteers do not necessarily have the time; they just have the heart.” – Elizabeth Andrew</h2>
                        <p><a href="#">VOLTOUR</a></p>
                    </div>
                  </div>
                  
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </header>

        <!-- Jquery and Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script>
            function preloaderFadeOutInit(){
                $('.preloader').fadeOut('slow');
                $('body').attr('id','');
                }
                // Window load function
                jQuery(window).on('load', function () {
                (function ($) {
                preloaderFadeOutInit();
                })(jQuery);
            });
        </script>
    </body>
    </html>