{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello,</h1>
  <p class="lead">Welcome to Navsanjeevan Activist/Volunteer dashboard</p>
  <hr class="my-4 ">
  <p>You can access the Activist Dashboard after Login.</p>
  <p>Willing to volunteer for a greater cause click on Join us button.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg " href="teachersignup" role="button">Join us</a>
    <a class="btn btn-primary btn-lg " href="teacherlogin" role="button">Login</a>
  </p>
</div>
{% endblock content %}